/*
Ирина, спасибо за ревью!

Есть единственная рекомендаия, которую я не выполнил до конца:
перенести ширину и высоту имиджа в класс .resources__img.

Данный класс не указан в брифе и я вввел его для того,
чтобы поинтер курсора не возникал на пространстве между логотипами.
Это, с моей точки зрения, создает негативный пользовательский опыт,
когда пользователь не знает на какой ресурс он будет перенаправлен
(особенно это проблема проявляется при наведении курсора на пространство
справа и слева от логотипа N+1).

Тот факт, что в качестве побочного эффекта логотип стал меньше
легко "лечиться" прописыванием его высоты, что я и сделал.

Еще раз спасибо за очень конструктивыне замечания. Это помогает учиться -)
*/

.resources__img {
  cursor: pointer;
  /*width: 270px;*/
  height: 38px;
  padding: 0;
  margin: 0;
}

.resources__img:hover {
  opacity: .7;
  transition: opacity 1s ease .2s;
}
