.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  cursor: pointer;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: opacity 1s ease .2s;
}
